/*en este archivo se debe colocar el código CSS/estilos de la App que son transversales a todas las pantallas o bien que afectan a más de una pantalla.*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr auto;/*100px pertenecen a la altura del header, 1fr al body y lo hace responsive, los 50px le pertenecen a la altura del footr*/
    grid-template-columns: 300px 1fr; /*los 200px pertenecen al sidebar, el 1fr hace responsivo el resto del sitio qe no es sidebar*/
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

/*header*/

header {
    grid-area: header;
    position: relative;
}

.header-bg {
    width: 100%;
    height: 100px;
    object-fit: cover;/*hace que la imagen se ajuste al contenedor manteniendo su relación de aspecto y cubriendo completamente el área disponible*/
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 80px;
}

/*sidebar*/

.sidebar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "menusito"
    "info";
    background-color: #bbdcfd;
    padding: 20px;
    /* grid-template-rows: auto auto;
    grid-template-columns: auto auto; */
    border-radius: 15px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    background-color: rgb(64, 89, 172);
    border-radius: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*recomendaciones*/

.recomendaciones {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: whitesmoke;
    border-radius: 10px;
}

.recomendaciones .reco1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recomendaciones .reco1 img{
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
}

.recomendaciones .reco2{
    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
    grid-row-gap: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: start;
    font-size: medium;
}

.recomendaciones .reco2 h1{
    font-size: 20px;
    color: grey;
}

/*main*/

main {
    grid-area: main;
    padding: 20px;
}

.migajas {
    margin-bottom: 20px;
    text-align: end;
}

.main-content{
    display: grid;
    grid-template-rows: 60px auto;
}

.main-content .sel{
    display: grid;
    grid-template-rows: 50%;
    background-color: #d4d4d4;
    border-radius: 15px 10px;
    width: 550px;
}

.main-content .sel .main-flex{
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

.main-content .sel .item1{
    padding: 20px;
    align-self: center;
    justify-self: start;
}

.main-content .sel .item2{
    height: 60%;
    align-self: center;
    max-width: 250px;
}

/*Main cotizacion*/
.maincot{
    display: grid;
    background-color: yellowgreen;
}


/*footer*/

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.conteiner-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    
}

.textocentrado{
    text-align: center;
}



.footerdesarrollado{
    align-self:flex-end;
}

.negrita{
    font-weight: bold;
    text-decoration: underline;
}



footer div div{
    padding: 30px;
    text-align: start;
}

.footercontacto{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer div ul li{
    text-decoration: underline;
    list-style: none;
    text-align: start;
}


/* @media (max-width: 768px) {
    .container {
        grid-template-rows: 100px 1fr 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }
    
    .sidebar {
        grid-area: sidebar;
        padding: 10px;
    }
} */


/* MENU DE LA IZQUIERDA
*/

.gridizq{
    display: grid;
    grid-template-rows: repeat(4, 35px);
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        ". inicio"
        "arch arch"
        "inform inform"
        "contact contact";
    text-align: center;
    row-gap: 10px;;
}
.item-ini{grid-area: inicio; color: white;}
.item-arch{grid-area: arch;}
.item-inform{grid-area: inform;}
.item-contact{grid-area: contact;}

/*Otras cosas*/
.textaligncenter{
    text-align: center;
}

.textalignend{
    text-align: end;
}